<h1>Login</h1>
<form class="row">
   <div class="small-10 medium-6 large-4 columns">
      <div class="form-item">
         <label for='username'>Username</label>
         {{input type='text' id='username' value=model.username class=(if model.invalidUsername 'invalid')}}
         <span class='validation-error'>{{model.vattrs.username.message}}</span>
      </div>

      <div class="form-item">
         <label for='password'>Password</label>
         {{input type='password' id='password' value=model.password class=(if model.invalidPassword 'invalid')}}
         <span class='validation-error'>{{model.vattrs.password.message}}</span>
      </div>

      <button type="button" {{action 'submitLogin'}} disabled={{disableSubmit}}>Login</button>
   </div>
</form>
